*.rds
.Rhistory
*.RData
*.dcf
/Data/*
.Rproj.user
.httr-oauth
*.pper
*.pper
*.pper
*.pper
*.pper
.Rproj.user/88C9CCE2/sdb/prop/INDEX
*.pper
.Rproj.user/88C9CCE2/pcs/files-pane.pper
.Rproj.user/88C9CCE2/pcs/files-pane.pper
*.pper
*.pper
*.pper
*.pper
*.pper
*.pper
*.pper
.Rproj.user/88C9CCE2/pcs/files-pane.pper
.Rproj.user/88C9CCE2/pcs/files-pane.pper
.Rproj.user/88C9CCE2/pcs/source-pane.pper
*.pper
.Rproj.user/88C9CCE2/saved_source_markers
.Rproj.user/88C9CCE2/saved_source_markers
*.pper
